<h1>Telecoms Dev Test</h1>
<p>
  This is a small simple Angular app with a .NET 6 backend to simulate a Gym Membership System.
  The page you will be working on is the members page which you can navigate to by clicking "Members" in the nav bar.
</p>
<p>
    The applicaion requires a few changes to make it more useful for the end users. You will be required to make the following changes:
</p>
<ul>
  <li>Update the Members table to load and display a members membership type and access code</li>
  <li>Implement the functionality behind the delete button. This button should delete the member and update the table</li>
</ul>
<p>Finally you will need to implement a check in feature with the following requirements:</p>
<ul>
  <li>Add a check in button to the members table</li>
  <li>When the button is clicked it should check if the user is allowed to check in and then add a record to the <strong>AccessHistory</strong> table with the date/time and true or false if successful</li>
  <li>Show a message on screen to say if they failed or succeeded with the check in. (Don't worry about the look and feel)</li>
</ul>
<p>Quick Tips:</p>
<ul>
  <li>
    To recreate your local database just delete the db files in the TelecomsDevTest project and run your project again <br />
    <img style="max-width: 400px;" src="/assets/image/delete-db.png" />
  </li>
</ul>

